<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="sobre.html">Sobre mí</a></li>
            <li><a href="portafolio.html">Portafolio</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <hr>
    <h1>Blog</h1>
    <h3 class="tituloEntrada">Tecnica de dibujo gestual</h3>
    <p>Cuando se quiere aprender desde en comienzo la area de dibujo artistico, una de los primeros errores es copiar la silueta de los modelos observados. El artista debe enseñarse a observar mas alla de lo que su ojo percive, comprender y entender por que las formas lucen de ese modo, o imaginarse el peso y la masa del modelo.
        Una de estas observaciones es el dibujo gestual, siendo para muchos unos de los primeros escalones para comenzar a aprender a dibujar. Consiste en dibujar una figura que se asemeje a una imagen espectral del modelo observado. Esta imagen espectral debe tener caracteristicas de movimiento y accion, evitando a toda costa lo estatico o rigidez.
    </p>
</body>
</html>