<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
            <li><a href="{{ url_for('sobremi') }}">Sobre mí</a></li>
            <li><a href="{{ url_for('portafolio') }}">Portafolio</a></li>
            <li><a href="{{ url_for('blog') }}">Blog</a></li>
            <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
        </ul>
    </nav>
    <hr>
    <h1>Portafolio</h1>
    <ul>
        <li>Nexo Tecnologico<a href="https://www.figma.com/proto/PYZrAGSf3AXJjh7hGR9eg5/Nexo-Tecnologico?node-id=3-139&starting-point-node-id=3%3A139" target="_blank"><img class="imagen" src="../../static/imgs/proyecto_nexotecnologico.png" alt="Mockup de una pagina web que representa una comunidad del Tecnologico"></a></li>
        <li><a href="https://www.figma.com/proto/PYZrAGSf3AXJjh7hGR9eg5/Nexo-Tecnologico?node-id=3-139&starting-point-node-id=3%3A139" target="_blank"><p>Ir al Figma</p></a></li>
        <li>Inicio de Sesion<a href="https://www.figma.com/proto/W2FmVBQwgVyJWQv2skXRXU/Untitled?node-id=6-3&starting-point-node-id=6%3A3" target="_blank"><img class="imagen" src="../../static/imgs/proyecto_nexotecnologicoprototipo.png" alt="Mockup de una pagina web que representa una pagina para iniciar secion"></a></li>
        <li><a href="https://www.figma.com/proto/W2FmVBQwgVyJWQv2skXRXU/Untitled?node-id=6-3&starting-point-node-id=6%3A3" target="_blank"><p>Ir al Figma</p></a></li>
        <li>Nexo Tecnologico<img class="imagen" src="../../static/imgs/webapp_mockup.jpg" alt="Mockup de una web app que representa una comunidad del Tecnologico"></li>
    </ul>
    
    <h3>Galeria de Imagenes</h3>
    <div class="rowPortafolio">
        <div class="columnPortafolio">
            <div class="contentPortafolio">
                <a href="https://www.figma.com/proto/PYZrAGSf3AXJjh7hGR9eg5/Nexo-Tecnologico?node-id=3-139&starting-point-node-id=3%3A139" target="_blank"><img class="imagen" src="../../static/imgs/proyecto_nexotecnologico.png" alt="Mockup de una pagina web que representa una comunidad del Tecnologico"></a>
            </div>
        </div>
        <div class="columnPortafolio">
            <div class="contentPortafolio">
                <a href="https://www.figma.com/proto/W2FmVBQwgVyJWQv2skXRXU/Untitled?node-id=6-3&starting-point-node-id=6%3A3" target="_blank"><img class="imagen" src="../../static/imgs/proyecto_nexotecnologicoprototipo.png" alt="Pagina de Inicio de Sesion"></a>
            </div>
        </div>
        <div class="columnPortafolio">
            <div class="contentPortafolio">
                <img class="imagen" src="../../static/imgs/webapp_mockup.jpg" alt="Mockup de una pagina web que representa una comunidad del Tecnologico">
            </div>
        </div>
    </div>
    </div>
</body>
</html>