<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="sobre.html">Sobre mí</a></li>
            <li><a href="portafolio.html">Portafolio</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <hr>
    <h1>Sobre mí</h1>
    <table cellpadding="10" border="1">
        <tr><th colspan="3">Datos Personales</th></tr>
        <tr><th>Nombre</th><th>Edad</th><th>Fecha de Nacimiento</th></tr>
        <tr><td>Jose Ricardo Telles Castro</td><td>27 años</td><td>6 de Octubre del 1997</td></tr>
    </table>
    <hr style="height: 10px;">
    <table cellpadding="10" border="1">
        <tr><th colspan="5">Informacion de estudiante</th></tr>
        <tr><th>Universidad</th><th>Campus</th><th>Matricula</th><th>Carrera</th><th>Semestre</th></tr>
        <tr><td>Tecnologico Nacional de México</td><td>Mexicali</td><td>22490397</td><td>Ingenieria en Sistemas Computacionales</td><td>6to</td></tr>
    </table>
    <div class="fondoIntereses">
        <h2>Intereses</h2>
        <ul>
            <li>Tecnologias de tarjetas graficas y procesadores</li>
            <li>Cultura folclórica de Japón</li>
            <li>Animación Japonesa</li>
            <li>Creaciones con LEGO y Mindstorms</li>
            <li>Banda sonora de Videojuegos</li>
        </ul>
    </div>
    <div class="fondoHobbies">
        <h2>Hobbies</h2>
        <ul>
            <li>Dibujo digital</li>
            <li>Dibujo Anatomico</li>
            <li>Animaciónes</li>
        </ul>
    </div>
</body>
</html>